---
layout: page
title: Son Yazılar
excerpt: "PİVOT, 2014 yılında yeni fikirler üretmekten ve farklı çözümler sunmaktan keyif alan girişimci bir ekibin heyecanı ile doğmuştur. Çeşitli alanlarda geliştirdiği yaratıcı çözümler ile bilişim ve yazılımın sağladığı imkanları insanların hizmetine sunmaktadır."
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
